<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<OpcServer>
		<ServerAddress value="opc.tcp://localhost:62544" />
	</OpcServer>
  <UpdateClientTime value="5" />
  <SetupDeviceTime value="30" />
  <Buttons>
	<Button  Number="1" EnableOPC="1" SignalPath="Object.error" />	
	<Button  Number="2" EnableOPC="1" SignalPath="Object.CRITICAL" />
	<Button  Number="59" EnableOPC="1" SignalPath="Object.WARNING" />
	<Button  Number="60" EnableOPC="1" SignalPath="Object.ERROR_1" />
  </Buttons>
</configuration>